<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>


                    <div class="container">
                        <div class="row justify-content-center">
                            <% for (let product of prods) { %>
                                <div class="card shadow col-lg-3 m-lg-3 col-md-5  m-md-2">
                                    <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= product.title %>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            $<%= product.price %>
                                        </h6>
                                        <p class="card-text">
                                            <%= product.description %>
                                        </p>
                                        <a href="/admin/edit-product/<%= product._id %>" class="btn btn-outline-secondary">Edit</a>
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <a href="/admin/delete-product/<%= product._id %>" class="btn btn-outline-danger">Delete</a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/admin.js"></script>