<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/">MyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
            </li>
        <% } %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if (!isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        <% } else { %>
                <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
                </form>
        <% } %>
      </ul>
    </div>
  </nav>