<ul class="pagination justify-content-center pt-5">
    <% if(currentPage >= 3) {%>
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li> 
    <% } %>

    <% if(hasPreviousPage) { %> 
        <li class="page-item"><a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a></li> 
    <% } %>
    
    <li class="page-item"><a class="page-link" href="?page=<%= currentPage %>" class="active"><%= currentPage %></a></li>


    <% if(hasNextPage) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a></li>
    <% } %>

    <% if(currentPage <= lastPage - 2) {%>
        <li class="page-item"><a class="page-link" href="?page=<%= lastPage %>">Last</a></li> 
    <% } %>
</ul>