<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main role="main">
        
      
        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/videogames_vk8ka6", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "appliances category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/appliances"><h5 class="card-title">Appliances</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/baby_cozx2e", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "baby products category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/baby" ><h5 class="card-title">Baby Products</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/beauty_sqe8jl", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "beauty products category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/beauty" ><h5 class="card-title">Beauty Products</h5></a>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/books_abhf5v", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "books category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/books" ><h5 class="card-title">Books</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/clothes_pqgsge", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "clothes category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/clothing" ><h5 class="card-title">Clothing</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/computers_l1bdtm", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "computers category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/computers" ><h5 class="card-title">Computer Hardware</h5></a>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/electronics_kxdhxp", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "electronics category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/electronics" ><h5 class="card-title">Electronics</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/fitness_ra31he", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "fitness category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/fitness&outdoors" ><h5 class="card-title">Fitness & Outdoors</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/furniture_ie9dbc", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "furniture category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/furniture" ><h5 class="card-title">Furniture</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/grocery_trno9u", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "grocery category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/grocery" ><h5 class="card-title">Grocery</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/health_fyj7gk", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "health category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/health" ><h5 class="card-title">Health</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/kitchen_pu2nxf", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "kitchen category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/home&kitchen" ><h5 class="card-title">Home & Kitchen</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/jewellery_khgv2b", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "jewellery category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/jewellery" ><h5 class="card-title">Jewellery</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/bags_mcoa7c", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "bags category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/luggage&bags" ><h5 class="card-title">Luggage & Bags</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/music_injpf2", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "music category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/music" ><h5 class="card-title">Music</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/musicalinstruments_hbqnnh", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "musical instruments category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/musicalinstruments" ><h5 class="card-title">Musical Instruments</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/officeproducts_hqtsis", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "office products category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/officeproducts" ><h5 class="card-title">Office Products</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/petsupplies_g01huq", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "pet supplies category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/petsupplies" ><h5 class="card-title">Pet Supplies</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/shoes_s3mfif", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "shoes category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/shoes" ><h5 class="card-title">Shoes</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/sports_wtzrcz", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "sports category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/sports" ><h5 class="card-title">Sports</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/tools_cfjcrl", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "tools category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/tools" ><h5 class="card-title">Tools</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/toys_tnsyq5", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "toys category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/toys" ><h5 class="card-title">Toys</h5></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm zoom">
                  <%- cloudinary.image("category_imgs/videogames_vk8ka6", { width: 512, crop: "scale", fetch_format: "auto", secure: true, alt: "videogames category" }) %>
                  <div class="card-body mt-3">
                    <a class="stretched-link" href="/products/category/videogames" ><h5 class="card-title">Video Games</h5></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </main>
<%- include('../includes/end.ejs') %>