<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <% orders.forEach(order => { %>
                    <div class="card mb-5">
                        <div class="card-header">
                            Order - # <%= order._id %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-muted">Items Ordered:</h5>
                            <% order.products.forEach(p => { %>
                                <p class="card-text my-2"><%= p.product.title %> (<%= p.quantity %>)</p>
                            <% }); %>
                            <a href="/orders/<%= order._id %>" target="_blank" class="btn btn-sm btn-primary">Invoice</a>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>

